.main-sect
	padding: 80px 80px 100px 0
	position: relative
	.main-title
		position: absolute
		left: 160px
		top: 230px
		.btn-l
			border: none
			padding: 15px 70px
			font-size: 18px
#call-sect
	padding-left: 80px
	padding-right: 160px
	.h3
		margin-bottom: 40px
	.form-group
		padding: 20px 0
	.form-title
		position: absolute
		top: -14px
		left: 0
		right: 0
	.h4
		padding: 0 20px
		background-color: $l
	input
		border-radius: $radius
		width: calc(50% - 10px)
		&:focus
			border-color: $a
	button
		width: calc(50% - 10px)
		font-size: 18px
	.form-wrapper
		position: relative
		padding: 70px 80px 50px 80px
		border: 2px solid $a
		width: 780px
		margin-bottom: 40px
	.contacts
		width: 780px
	.contact
		padding: 20px 10px
		img
			margin-right: 15px
		.link
			font-weight: 500

.box
	width: 40px
	height: 40px
	background-color: red
	transition: 0.5s
	border-radius: $radius
.number
	width: auto
	height: auto
	color: $l
	padding: $space
	font-size: 26px
	font-weight: 600

.slider-tab-sect
	width: 100%

#main
	.cont-fluid
		width: 100%
		padding: 0
	.futurama-frame
		position: absolute
		top: 0
		left: 0
		width: 80px
		height: 100%
		z-index: 100
		opacity: 0.4
		background-color: $a
		transition: 0.5s
		box-sizing: content-box
	.futurama-tabs
		width: 100%
	.thumb-container
		margin: 0
		width: 100%
		overflow: hidden
		position: relative
	.thumb-line
		transition: 0.5s
	.cont-fluid
		height: auto
	.slide-line
		align-items: center
	.slide-item
		height: 100%
		padding: 0
		opacity: 1
		img
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center bottom
	.thumb
		position: relative
		width: 80px
		overflow: hidden
		img
			width: 100%
			transition: 0.5s
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			left: 0
			margin: auto
			width: 100%
			height: 100%
			z-index: 100
			opacity: 0
			background-color: $a
			transition: 0.5s
		&:hover
			img
				transform: scale(1.2)
			&::after
				opacity: 0.2
	.tab-active
		img
			transform: scale(1.4)
		&:hover
			img
				transform: scale(1.4)
			&::after
				opacity: 0.4
		&::after
			opacity: 0.4
#popular
	padding-right: 80px
	padding-bottom: 100px
	.h3
		margin-bottom: 55px
	.popular-container
		width: 100%
		padding-bottom: 55px
	.popular-item
		padding: 25px 10px
		cursor: pointer
		&:hover
			.popular__cart
				opacity: 1
			.popular__img
				&:after
					opacity: 1
			.popular__button
				opacity: 1
		&:nth-of-type(4n+1)
			padding-left: 0
		&:nth-of-type(4n)
			padding-right: 0
	.popular__img
		margin-bottom: 10px
		height: 240px
		position: relative
		&::after
			position: absolute
			height: 100%
			width: 100%
			top: 0
			left: 0
			content: ""
			box-shadow: 0px 15px 30px rgba(203, 0, 0, 0.3)
			opacity: 0
			transition-duration: 0.5s
		img
			border-radius: $radius
			width: 100%
			height: 100%
			object-fit: cover
	.popular__button
		opacity: 0
		transition: 0.5s
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		font-size: 14px
		border-radius: 0 0 $radius $radius
	.popular__fabric
		font-weight: 600
		font-size: 14px
		margin-bottom: 10px
		span
			font-weight: 500
	.popular__description
		font-size: 20px
		margin-bottom: 10px
	.popular__price
		color: $a
		font-weight: 20px
	.popular__cost
		margin-bottom: 0
	.popular__cart
		opacity: 0
		transition-duration: 0.5s
		position: relative
		&::after
			top: 0
			bottom: 0
			position: absolute
			content: "+"
			right: 25px
	.popular__catalog
		font-size: 18px
		padding: 10px 60px
#fabrics,
#partners
	padding-top: 100px
	padding-bottom: 90px
	padding-right: 80px
	.h3
		margin-bottom: 55px
	.fabrics-container
		width: 1200px
		padding-bottom: 20px
	.fabrics-item
		padding: 50px 10px
	.fabrics__img
		cursor: pointer
		transition-duration: 0.5s
		&:hover
			transform: scale(1.2)
		img
			width: 100%
	.fabrics__catalog
		font-size: 18px
		padding: 10px 40px
#advantages
	padding-top: 90px
	padding-bottom: 50px
	.h3
		margin-bottom: 30px
		padding-right: 80px
	.h4
		margin-bottom: 10px
	.advantages-container
		width: 100%
	.advantages-item
		padding: 50px 80px
	.advantages-img
		margin-bottom: 30px
#work
	padding-top: 100px
	padding-bottom: 80px
	.h3
		margin-bottom: 70px
	.work-chose
		align-self: flex-start
		font-size: 14px
		padding-left: 80px
		margin-bottom: 30px
	.slider
		height: auto
		position: relative
	.slider-wrap
		padding-left: 80px
		padding-right: 160px
	.slider-tab-sect
		.tab-container
			height: 43px
			margin-bottom: 80px
		.cont-fluid
			padding: 0
			width: 100%
		.slide-item
			text-align: left
		.slide-description
			padding-right: 75px
			padding-bottom: 75px
			.h4
				margin-bottom: 25px
			p
				margin-bottom: 25px
		.nav
			position: relative
			width: 45px
			height: 45px
			border-radius: $radius
			border: 1px solid $a
			margin: 0
			&:hover
				transform: scale(1.2)
			&:after
				position: absolute
				content: ""
				border: 7.5px solid transparent
				border-left: 7.5px solid $a
				top: 0
				bottom: 0
				left: 7.5px
				right: 0
				margin: auto
				height: 0
				width: 0
		.prev
			margin-right: 20px
			&:after
				left: -7.5px
				transform: rotate(180deg)
		.work__more
			border-color: $a
			color: $a
			padding: 10px 50px
			font-size: 18px
			margin-right: 20px
		.work__buttons
			position: absolute
			bottom: 20px
			left: 0
			background-color: $l
		.slide-image
			padding-left: 75px
			border-radius: $radius
			img
				width: 100%
				object-fit: cover
	.tab
		transition-duration: 0.5s
		font-size: 24px
		font-weight: 600
	.tab-active
		font-size: 36px
		text-shadow: 0px 10px 30px rgba(203, 0, 0, 0.5)
#about
	padding-top: 100px
	padding-bottom: 50px
	.h3
		margin-bottom: 100px
	.about-container
		padding-left: 80px
		padding-right: 160px
		margin-bottom: 80px
		p
			margin-bottom: 40px
			&:last-child
				margin-bottom: 0
	.about-left
		padding-right: 110px
		border-right: 1px solid $a
	.about-right
		padding-left: 110px
		border-left: 1px solid $a
	.about-gallery
		width: 100%
		padding-left: 30px
		padding-right: 110px
	.about-item
		padding: 50px
	.about-image
		height: 410px
		margin-bottom: 20px
		img
			height: 100%
			width: 100%
			object-fit: cover
			border-radius: $radius
	.about-description
		font-size: 20px
		font-weight: 500
#how_purcache
	padding-top: 110px
	padding-right: 80px
	padding-bottom: 50px
	.h3
		margin-bottom: 60px
	.how-container
		width: 100%
	.how-item
		position: relative
		padding: 50px 80px
	.how__description
		font-size: 24px
		font-weight: 600
	.how__number
		top: 0
		left: 80px
		line-height: 144px
		position: absolute
		font-size: 144px
		font-weight: bold
		color: #F1F1F1
		z-index: -1


@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	//
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	//
@media only screen and (max-width : 560px)
	//
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	//

