#mob-mnu
	transition: 0.5s
	position: fixed
	top: 0
	left: 0
	width: 240px
	height: 100%
	z-index: 1000
	background-color: $l
	overflow-y: auto
	overflow-x: hidden
	.h4
		border-bottom: 2px solid $a
		margin-bottom: 5px
	.topbar
		padding-top: 30px
		padding-left: 35px
	.screen-link
		padding: 10px 0
		transition: 0.5s
		padding-left: 35px
		font-size: 14px
		&.h4
			font-size: 18px
			font-weight: 500
			letter-spacing: 0.1em
	.submenu
		margin-bottom: 20px
	.topbar
		height: 80px
	.bottombar
		border-top: 1px solid $d
		padding: $space / 2 0
	.contact
		padding: 0 35px
		font-size: 16px
		margin-bottom: 20px
		img
			width: 25px
	.social
		margin-top: $space / 2
	.mobile-previous
		margin-top: 35px
		margin-left: 35px
		margin-bottom: 70px
		border-color: $a
		color: $a
		font-size: 14px
		letter-spacing: 0.1em
		padding: 10px 30px 10px 40px
		position: relative
		&::before
			transition-duration: 0.5s
			content: ''
			position: absolute
			border: 7px solid transparent
			border-right: 7px solid $a
			top: 0
			bottom: 0
			margin: auto 0
			left: 10px
			height: 0
			width: 0
		&:hover
			background-color: $a
			color: $l
			&::before
				border-right: 7px solid $l
	.mobile-filter
		padding-left: 35px
		padding-right: 20px
		.acc-head
			position: relative
			cursor: pointer
			margin-bottom: 20px
			letter-spacing: 0.1em
			font-weight: 500
			&::after
				content: ''
				position: absolute
				border: 7px solid transparent
				border-top: 7px solid #C4C4C4
				top: 7px
				bottom: 0
				margin: auto 0
				right: -30px
				height: 0
				width: 0
				transition-duration: 0.2s
				transform-origin: 50% 3.5px
		.acc-active
			&::after
				transform: rotate(180deg)
		.acc-body
			margin-bottom: 60px
			width: 100%
			&:last-child
				margin-bottom: 0
			.link
				cursor: pointer
				align-self: center
				font-size: 14px
		.cost-slider
			position: relative
			border: none
			height: 10px
			border-radius: 0
			border-top: 1px solid $a
			cursor: pointer
			width: calc(100% - 15px)
			margin-bottom: 15px
			&:focus
				outline: none
		.ui-slider-range
			top: 0
			height: 0
			position: absolute
			z-index: 1
		.cost-description
			font-size: 9px
			color: #a5a5a5
		.ui-slider-handle
			outline: none
			cursor: pointer
			border: 1px solid #cb0000
			background: white
			top: -8px
			position: absolute
			z-index: 2
			width: 15px
			height: 15px
			touch-action: none
			border-radius: 50%
		input[type="number"]::-webkit-inner-spin-button
			display: none
		input[type="checkbox"]
			display: none
		.cost-range
			margin-bottom: 25px
			position: relative
			width: 100%
			&::after
				position: absolute
				content: ''
				height: 1px
				width: 12px
				top: 0
				bottom: 0
				right: 0
				left: 0
				margin: auto
				background-color: $d
			input
				padding: 10px
				font-size: 12px
				font-weight: 500
				border-color: #c4c4c4
				border-radius: 4px
				text-align: center
				width: 80px
		label
			display: block
			position: relative
			padding-left: 25px
			font-size: 14px
			margin-bottom: 20px
			&::before
				position: absolute
				content: ''
				width: 16px
				height: 16px
				border: 1px solid #C4C4C4
				border-radius: 4px
				left: 0
				top: 0
				bottom: 0
				margin: auto 0
			&::after
				position: absolute
				content: ''
				width: 10px
				height: 10px
				border-radius: 50%
				left: 3px
				top: 0
				bottom: 0
				margin: auto 0
				background-color: #C4C4C4
				opacity: 0
				transition-duration: 0.1s
		.checkbox-active
			&::after
				opacity: 1


.mob-mnu-active
	.active-menu
		transform: translateX(300px)
	.page
		transform: translateX(300px)
	.blocker
		z-index: 9998
		opacity: 1	
@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	//
@media only screen and (max-width : 992px)
	#mob-mnu
		width: 300px
		left: -300px
		transition: 0.5s
		.mobile-side
			menu
				padding-top: 50px
				margin-bottom: 80px
				.screen-link
					font-weight: 500
					font-size: 24px
@media only screen and (max-width : 768px)
	//
@media only screen and (max-width : 560px)
	#mob-mnu
		width: 240px
		left: -240px
		.mobile-side
			menu
				.screen-link
					font-size: 20px
	.mob-mnu-active
		.active-menu
			transform: translateX(240px)
		.page
			transform: translateX(240px)
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	//
