.toolbar
	position: fixed
	width: calc(100% - 4px)
	z-index: 2000
	height: 80px
	padding: $space / 2 0
	top: 0
	left: 0
	transition: 0.5s
	padding-left: 240px
	.cont-fluid
		height: 100%
		margin: 0
		margin-left: auto
		width: auto
	.menu
		height: 100%
		padding-right: 35px
		.link
			margin-left: 35px
			&::after, &::before
				background-color: $a
		li:first-child
			.link
				margin-left: 0
	.btn-d
		margin-left: $space
	.contact
		padding: 0 35px
		border-left: 1px solid $a
		.link
			font-weight: 500
	.cart
		cursor: pointer

.active-toolbar
	background-color: $l

@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	//
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	.toolbar
		height: 60px
		.cont-fluid
			justify-content: flex-start
		.logo
			margin-right: $space
@media only screen and (max-width : 560px)
	//
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	//
