.toolbar
	position: fixed
	width: calc(100% - 4px)
	z-index: 2000
	height: 80px
	padding: $space / 2 0
	top: 0
	left: 0
	transition: 0.5s
	padding-left: 240px
	background-color: $l
	.mobile-header
		display: none
	.cont-fluid
		height: 100%
		margin: 0
		margin-left: auto
		width: auto
		padding-left: 0
	.menu
		height: 100%
		padding-right: 35px
		.link
			margin-right: 35px
			&::after, &::before
				background-color: $a
		li:last-child
			.link
				margin-right: 0
	.btn-d
		margin-left: $space
	.contact
		padding: 0 35px
		border-left: 1px solid $a
		.link
			white-space: nowrap
			font-weight: 500
	.cart, .search
		cursor: pointer

.active-toolbar
	background-color: $l
@media only screen and (max-width : 1440px)
	.toolbar
		.menu
			.link
				margin-right: 20px
@media only screen and (max-width : 1200px)
	.toolbar
		.contact
			padding: 0 10px
		.menu
			padding-right: 10px
			.link
				margin-right: 10px
@media only screen and (max-width : 992px)
	.toolbar
		width: 100%
		padding: 10px 0
		height: 50px
		.cont-fluid
			padding-left: 20px
		.mobile-header
			display: flex
			margin: 0
			width: 100%
			.logo
				height: auto
				line-height: 1
			.search
				margin-right: 20px
@media only screen and (max-width : 768px)
	.toolbar
		height: 60px
		.mobile-header
			justify-content: space-between
			padding: 0 20px
			.logo
				font-size: 18px
@media only screen and (max-width : 560px)
	.toolbar
		.mobile-header
			.logo
				font-size: 14px
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	//
